<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Virtual Classroom</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>F1</filter-name>
    <filter-class>Filter.FilterStudentSignup</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>F1</filter-name>
    <url-pattern>/UserSignup</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>myPack.UserSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/UserSignup</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>F2</filter-name>
    <filter-class>Filter.FilterLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>F2</filter-name>
    <url-pattern>/userLogin</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>myPack.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>F3</filter-name>
    <filter-class>Filter.FilterLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>F3</filter-name>
    <url-pattern>/teacherLogin</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>teacherLogin</servlet-name>
    <servlet-class>myPack.TeacherLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherLogin</servlet-name>
    <url-pattern>/teacherLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>F4</filter-name>
    <filter-class>Filter.FilterTeacherSignup</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>F4</filter-name>
    <url-pattern>/teacherSignup</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>TeacherSignup</servlet-name>
    <servlet-class>myPack.TeacherSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherSignup</servlet-name>
    <url-pattern>/teacherSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Notesupload</servlet-name>
    <servlet-class>myPack.NotesUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notesupload</servlet-name>
    <url-pattern>/fileupload</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>chatpropertyfile</param-name>
    <param-value>chat.properties</param-value>
  </context-param>
  <context-param>
    <param-name>saveRooms</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>adminEmail</param-name>
    <param-value>shubhamnir97@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>sessionTimeout</param-name>
    <param-value>30</param-value>
  </context-param>
  <context-param>
    <param-name>refreshAfter</param-name>
    <param-value>5</param-value>
  </context-param>
  <context-param>
    <param-name>maxNoOfMessages</param-name>
    <param-value>25</param-value>
  </context-param>
  <listener>
    <listener-class>chatbox.SessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>chatbox.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>manageChat</servlet-name>
    <servlet-class>chatbox.ManageChatServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>saveInfo</servlet-name>
    <servlet-class>chatbox.SaveInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageChat</servlet-name>
    <url-pattern>/servlet/manageChat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/servlet/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>saveInfo</servlet-name>
    <url-pattern>/servlet/saveInfo</url-pattern>
  </servlet-mapping>
</web-app>